.fullname{
    display:flex;
     margin-top:20px;
     justify-content:center;  
    font-size:18px

}



.submit-button{
    display:flex;
    justify-content:center;
    margin: 7px 0px 9px 0px;
    }




.register-error{
    text-align:center;
    margin:0 auto;
    margin-top:1px;
    font-style:italic;
    color:red;
    font-size:25px
}